
esports_manager.db
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/EsportsManagerGame.iml
.idea/workspace.xml
__pycache__/database_manager.cpython-310.pyc
__pycache__/database_setup.cpython-310.pyc
__pycache__/game_simulation.cpython-310.pyc
__pycache__/game.cpython-310.pyc
__pycache__/game.cpython-311.pyc
